<div class="bg-black hero__featured hero--padded">
  <h1 class="text-center letter-gradient headline text-white">
    How It Works
  </h1>
  <br />
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-4-l'>

      <!-- How It Works - Carousel Nav -->

      <div class="carousel-nav-buttons">
        <div class="nav-item active">
          <h3>Star Match</h3>
          <p>
            Coming soon! Find compatibility based on your birth chart, astrology, and the vedic calendar.
          </p>
        </div>
        <div class="nav-item">
          <h3>Create Your Soul Signature</h3>
          <p>
            Answer 30+ spiritual, physical and lifestyle questions to fully show your beauty and uniqueness.
          </p>
        </div>
        <div class="nav-item">
          <h3>Make a soul connection</h3>
          <p>
            Match and message with possible love connections based on spiritual, astrological, and sexual similarities.
          </p>
        </div>
      </div>

    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-4-l'>
      <div class="home-hero__content">

        <!-- How It Works - Carousel Main -->
        <div class="carousel carousel--how-it-works">
          <div class="carousel-cell">
             <video autoplay loop muted src="{{asset 'video/star-match-site-clip-COMPRESSED.mp4'}}"></video>
          </div>
          <div class="carousel-cell">
            <video autoplay loop muted src="{{asset 'video/ss-site-clip-COMPRESSED.mp4'}}"></video>
          </div>
          <div class="carousel-cell">
            <video autoplay loop muted src="{{asset 'video/discover-site-clip-COMPRESSED.mp4'}}"></video>
          </div>
        </div>

      </div>
    </div>
  </div>

  <br />
  <br />

</div>
