<div class="bg-light-orange">
  <div class='o-grid o-grid--vertical-align home-hero'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-4-l'>
      <a href="https://www.rythmia.com" target="_blank" class="home-hero__featured-img vertical-align">
        <img src="{{asset 'images/home-rythmia-feature-img.jpg'}}" />
      </a>
    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-4-l vertical-align'>
      <div class="home-hero__content">
        <h1>
          Manifested by the miracles at Rythmia
        </h1>
        <p>
          RLOVE was created by the team at Rythmia. Rythmia is an Ayahuasca retreat center located in beautiful Guanacaste, Costa Rica. Rythmia focuses on life transformation, infusing ancient wisdom, healing modalities, and plant medicine.
        </p>
        <a href="" class="c-btn c-btn--rounded c-btn--inline">Visit Rythmia</a>
      </div>
    </div>
  </div>
</div>
