<div class='o-grid o-grid--vertical-align hero__home'>
  <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l vertical-align'>
    <div class="home-hero__content">
      <h1 class='letter-gradient-animation headline'>
        A spiritual dating app to connect awakened souls.
      </h1>
      <a href="https://rlove.com/text-me" class="c-btn c-btn--active c-btn--rounded c-btn--inline">Download RLOVE</a>
    </div>
  </div>
  <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l vertical-align'>
    <a href="#popup1" class="home-hero__featured-img vertical-align">
      <span class="btn-play"></span>
      <img src="{{asset 'images/home-hero-img.jpg'}}" />
    </a>
  </div>
</div>
