<div class="bg-black hero__featured hero--padded star-match-section">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="star-overlay"></div>
  <div class='o-grid star-match-section__content'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l'>
        <div class="padding-right">
          <h1 class="headline">Star Match</h1>
          <p class="lead">
            Star Match allows you to create your birth chart and show you matches based on these celestial influences.
          </p>
          <p class="lead">
            Daily horoscopes and the vedic calendar provide you guidance and tips for love, relationships and beyond.
          </p>
          <p class="lead">
            A list of compatible profiles are shown to you based on birth chart similarities. Connect on a cosmic level.
          </p>
          <br />
          <a href="" class="c-btn c-btn--rounded c-btn--inline">Tell me more</a>
        </div>
    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l text-center'>
      <video playsinline autoplay loop muted class="round glow-purple" src="{{asset 'video/star-match-site-clip-COMPRESSED.mp4'}}"></video>
    </div>
  </div>
</div>

<div class="bg-gradient-animation hero__featured hero--padded star-match-section">
  <div class="o-grid">

    <!-- SS -->
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l text-center'>
      <video playsinline autoplay loop muted class="round" src="{{asset 'video/ss-site-clip-COMPRESSED.mp4'}}"></video>
    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l'>
        <div class="padding-right">
          <h1 class="headline">Create your soul signature</h1>
          <p class="lead">
            Star Match allows you to create your birth chart and show you matches based on these celestial influences.
          </p>
          <p class="lead">
            Daily horoscopes and the vedic calendar provide you guidance and tips for love, relationships and beyond.
          </p>
          <p class="lead">
            A list of compatible profiles are shown to you based on birth chart similarities. Connect on a cosmic level.
          </p>
          <br />
        </div>
    </div>
    <!-- /SS -->

    <div class="br"></div>

    <!-- Connection -->
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l'>
        <div class="padding-right">
          <h1 class="headline">Make a soul connection</h1>
          <p class="lead">
            Star Match allows you to create your birth chart and show you matches based on these celestial influences.
          </p>
          <p class="lead">
            Daily horoscopes and the vedic calendar provide you guidance and tips for love, relationships and beyond.
          </p>
          <p class="lead">
            A list of compatible profiles are shown to you based on birth chart similarities. Connect on a cosmic level.
          </p>
          <br />
        </div>
    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l text-center'>
      <video playsinline autoplay loop muted class="round" src="{{asset 'video/discover-site-clip-COMPRESSED.mp4'}}"></video>
    </div>
    <!-- /Connection -->

  </div>
</div>
