<div class="bg-black hero__featured hero--padded">
  <br />
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l'>
      <h3>Star Match</h3>
      <p>
        Coming soon! Find compatibility based on your birth chart, astrology, and the vedic calendar.
      </p>
    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l'>
      <video playsinline autoplay loop muted src="{{asset 'video/star-match-site-clip-COMPRESSED.mp4'}}"></video>
    </div>
  </div>

  <br />
  <br />

</div>

<video playsinline autoplay loop muted src="{{asset 'video/ss-site-clip-COMPRESSED.mp4'}}"></video>
<video playsinline autoplay loop muted src="{{asset 'video/discover-site-clip-COMPRESSED.mp4'}}"></video>
