{{!< default}}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--1-3-l'>
      <div class='c-archive'>
        <h2 class='c-archive__title'>
          A spiritual dating app to connect awakened souls.
        </h2>
      </div>
    </div>
  </div>

  <div class='o-grid js-grid'>
    {{> loop }}
  </div>

  <div class='o-grid'>
    {{ pagination }}
  </div>

  <div class='o-grid'>
    {{> index-tags }}
  </div>
</div>
