{{!< default}}

{{> popup}}

<div class='o-wrapper'>

  <!-- Hero -->
  <div class='o-grid o-grid--vertical-align home-hero'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-4-l vertical-align'>
      <div class="home-hero__content">
        <h1 class='letter-gradient-animation headline'>
          A spiritual dating app to connect awakened souls.
        </h1>
        <a href="https://rlove.app.link/Ngk6pPgBp0" class="c-btn c-btn--active c-btn--inline">Download the app</a>
      </div>
    </div>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-4-l'>
      <a href="#popup1" class="home-hero__featured-img vertical-align">
        <span class="btn-play"></span>
        <img src="{{asset 'images/home-hero-img.jpg'}}" />
      </a>
    </div>
  </div>
  <!-- /Hero -->

  <!-- Posts -->
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s .o-grid__col--center'>
      <h1>Featured Posts</h1>
    </div>
  </div>

  <div class='o-grid js-grid'>
    {{> loop }}
  </div>

  <div class='o-grid'>
    {{ pagination }}
  </div>

  <div class='o-grid'>
    {{> index-tags }}
  </div>
  <!-- /Posts -->

</div>
