{{!< default}}

{{> popup-explainer }}

<div class='o-wrapper'>

  {{> home-hero }}

  <!-- Posts -->
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s .o-grid__col--center'>
      <h1>Featured Posts</h1>
    </div>
  </div>

  <div class='o-grid js-grid'>
    {{> loop }}
  </div>

  <div class='o-grid'>
    {{ pagination }}
  </div>

  <div class='o-grid'>
    {{> index-tags }}
  </div>
  <!-- /Posts -->

</div>
