/*------------------------------------*\
  Elements > Fonts
\*------------------------------------*/

@font-face {
  font-family: 'Recoleta';
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/recoleta/recoleta_medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/recoleta/recoleta_medium-webfont.woff') format('woff');
}

//
// Jost*
//

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-700-bold.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-700-bold.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-700-bolditalic.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-700-bolditalic.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-600-semi.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-600-semi.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-600-semiitalic.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-600-semiitalic.woff') format('woff');

}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-500-medium.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-500-medium.woff') format('woff');

}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-500-mediumitalic.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-500-mediumitalic.woff') format('woff');

}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-400-book.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-400-book.woff') format('woff');

}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-400-bookitalic.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-400-bookitalic.woff') format('woff');

}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-300-light.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-300-light.woff') format('woff');

}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/jost/jost-300-lightitalic.woff2') format('woff2'),
       url('/assets/fonts/jost/jost-300-lightitalic.woff') format('woff');
}
