/*------------------------------------*\
  Elements > Gradients BG
\*------------------------------------*/


@-webkit-keyframes gradient-bg {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@-moz-keyframes gradient-bg {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@keyframes gradient-bg {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}

.bg-gradient-animation {
  background: linear-gradient(0deg, #874d9e, #fbad50, #fb7676, #40bfee);
  background-size: 800% 800%;
  -webkit-animation: gradient-bg 30s ease infinite;
  -moz-animation: gradient-bg 30s ease infinite;
  animation: gradient-bg 30s ease infinite;
}
