.round {
  border-radius: $base-spacing-unit;
}

.glow-purple {
  box-shadow: 0px 0px 40px rgba(158, 95, 166, .25);
}

.padding-right {
  padding-right: 4*($base-spacing-unit);
  @include mq($until: tablet) {
    padding-right: 0px;
  }
}

.br {
  height: 8*($base-spacing-unit);
  width: 100%;
  clear: both;
  display: block;
}

.how-it-works {
  video {
    border-radius: $base-spacing-unit;
    box-shadow: 0px 0px 50px rgba(0,0,0,.5);
    @include mq($until: tablet) {
      width: 60vw;
    }
  }
}
