// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand:   #9e5fa6 !default;
$color-brand-dark: #8e5596 !default;
$color-white:   #FFFFFF !default;
$color-black:   #1c1a1d !default;
$color-orange:  #f8a96b !default;
$color-text:    #222222 !default;
$color-gray:    #5D738D !default;
$color-error:   #BF3157 !default;
$color-success: #097756 !default;

// Background Colors
$bg-color:        $color-white !default;
$bg-gray:         #F6F9FC !default;
$bg-white:        $color-white !default;
$bg-light-orange: #fff6ee !default;
$bg-dark-opacity: rgba($color-black, .1);

// Border
$color-border: #EBF1F8 !default;

// Links
$color-link: $color-text;

// Buttons
$btn-bg:       $color-white !default;
$btn-bg-hover: $color-brand !default;

$btn-color:       $color-gray !default;
$btn-color-hover: $color-white !default;

$btn-border-color:       $color-brand !default;
$btn-border-color-hover: $color-brand-dark !default;

// Code Block
$bg-code-block: $bg-gray !default;

$bg-code-inline:  $bg-gray !default;
$color-code-inline: $color-text !default;

.bg-light-orange {
  background-color: $bg-light-orange;
}

.bg-black {
  background-color: $color-black;
}

.text-white {
  color: $color-white;
}
