/*------------------------------------*\
  Components > Content
\*------------------------------------*/

$block-max-width: 1300px;

.c-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  word-break: break-word;

  &:after {
    content: '';
    min-width: 25%;
    height: 1px;
    margin-top: double($base-spacing-unit) + half($base-spacing-unit);
  }

  > * + * {
    margin-top: double($base-spacing-unit) + half($base-spacing-unit);
  }

  blockquote {
    margin-top: 0px;
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: half($base-spacing-unit);
  }

  h1, h2, h3, h4, h5, h6 {
    min-width: 100%;
    font-family: $font-sans-serif;
    font-weight: $font-weight-medium;
    margin-top: double($base-spacing-unit) + $base-spacing-unit;
  }

  a {
    color: $color-brand;
    text-decoration: none;
    text-decoration-skip: ink;
    border-bottom: 1px solid $color-brand;

    @include attention() {
      color: $bg-color;
      background-color: $color-brand;
    }
  }

  p, pre,
  dl, ol, ul,
  form,
  fieldset {
    min-width: 100%;
    font-size: $font-size-base;
  }

  dd,
  ol,
  ul {
    // Target Safari Only
    &:not(:root:root) {
      -webkit-padding-start: half($base-spacing-unit);
    }
  }

  .twitter-tweet {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden !important;
    width: 100% !important;
  }
}

// Koenig Editor

.kg-embed-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
}

.kg-card figcaption {
  width: 100%;
  text-align: center;
  color: $color-gray;
  font-size: $font-size-small;
  font-family: $font-sans-serif;
  padding: 0 $base-spacing-unit;
  margin-top: half($base-spacing-unit) + half(quarter($base-spacing-unit));
}

// Koenig Images

.kg-image {
  margin: auto;
}

.c-content {
  .kg-width-full .kg-image {
    @include mq($from: tablet) {
      max-width: 100vw;
      pointer-events: none;
    }
  }

  .kg-width-wide .kg-image {
    @include mq($from: tablet) {
      max-width: 75vw;
    }

    @include mq($from: desktop) {
      max-width: $block-max-width;
      padding-right: $base-spacing-unit + half($base-spacing-unit);
      padding-left: $base-spacing-unit + half($base-spacing-unit);
    }
  }
}

// Koenig Gallery

.kg-gallery-container {
  width: 100vw;
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    max-width: 75vw;
  }

  @include mq($from: desktop) {
    max-width: $block-max-width;
    padding-right: $base-spacing-unit + half($base-spacing-unit);
    padding-left: $base-spacing-unit + half($base-spacing-unit);
  }
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: half($base-spacing-unit) 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 half($base-spacing-unit);
}
