/*------------------------------------*\
  Components > Home Hero
\*------------------------------------*/

.hero {
  &__home {
    height: 80vh;
    .btn-play {
      position: absolute;
    }
  }
  &--padded {
    padding: 3*$base-spacing-unit 0;
  }
  &__featured {

  }
  &__featured-img {
    transition: all $global-transition;
    &:hover {
      box-shadow: 0px 10px 20px rgba(0,0,0,.5);
      transform: scale(1.01);
    }
  }
}

.headline {
  margin-bottom: 2*($base-spacing-unit);
}
