/*------------------------------------*\
  Components > Home Hero
\*------------------------------------*/

.hero {
  &__home {
    height: 80vh;
    .btn-play {
      position: absolute;
    }
    @include mq($until: desktop) {
      height: auto;
      padding-bottom: 2*($base-spacing-unit);
    }
  }
  &--padded {
    padding: 5*$base-spacing-unit 0;
  }
  &--padded-top {
    padding-top: 5*$base-spacing-unit;
  }
  &__featured {
    @include mq($until: tablet) {
      .headline {
        margin-bottom: 0px;
      }
    }
  }
  &__featured-img {
    transition: all $global-transition;
    &:hover {
      box-shadow: 0px 10px 20px rgba(0,0,0,.5);
      transform: scale(1.01);
    }
  }
}

.home-hero__content {
  @include mq($until: desktop) {
    padding-bottom: 2*($base-spacing-unit);
    padding-top: 2*($base-spacing-unit);
  }
}
