/*------------------------------------*\
  Components > Social Icons / Footer
\*------------------------------------*/

.c-social-icons {
  text-align: center;
  li {
    display: inline-block;
  }

  .icon {
    fill: $color-gray;
  }
}
