/*------------------------------------*\
  Components > Social Icons / Footer
\*------------------------------------*/

.c-social-icons {
  li {
    display: inline-block;
  }

  .icon {
    fill: $color-brand;
    height: 32px;
    width: 32px;
  }
}
