/*------------------------------------*\
  Components > Subscribe Form
\*------------------------------------*/

.c-subscribe-form {
  background-color: $bg-white;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  button {
    background: transparent;
    width: 100%;
    border-radius: 50px;
    max-width: 300px;
    @include attention() {
      background: $color-brand;
      color: $color-white;
    }
  }

  &__input[type='email'] {
    border: 0;
    margin: 0;
    min-width: 2px;
    border: 2px solid $color-gray;
    border-radius: 50px;
    width: 100%;
    max-width: 300px;
    &:focus {
      border-color: $color-brand;
    }
  }

  & ~ .u-alert {
    display: none;
  }

  &.loading .c-btn {
    @extend .c-btn--loading;
  }

  &.success ~ .u-alert--success,
  &.invalid ~ .u-alert--invalid,
  &.error   ~ .u-alert--error  {
    display: block;
  }
}
