/*------------------------------------*\
  Components > Tag Card
\*------------------------------------*/

.c-tag-card {
  display: block;
  position: relative;
  margin-bottom: double($base-spacing-unit) + $base-spacing-unit;
  background-color: $bg-gray;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    content: '';
    transition: $global-transition;
    background: linear-gradient(0deg, rgba($color-black, .3) 0, transparent 100%);
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    padding-bottom: 75%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin-bottom: 0;
    padding: $base-spacing-unit;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    color: $color-white;
  }

  @include attention() {
    &:before {
      background-color: $bg-dark-opacity;
    }
  }
}