.text-me {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .return-link {
    color: $color-white;
    text-decoration: underline;
    padding: 20px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-tiny;
    letter-spacing: $global-letter-spacing;
  }
  &__content {
  }
  &__content-inner {
    background-color: $color-white;
    padding: 3*($base-spacing-unit);
  }
  header {
    padding: 50px;
  }
  &__logo {
    width: 150px;
    margin: 0 auto;
  }
  input[type=tel] {
    text-align: center;
    font-size: 24px;
    border: none;
    padding: 10px;
    border-bottom: 2px solid $color-brand;
    margin-bottom: 0px;
    &::placeholder {
      opacity: .25;
    }
    @include mq($from: tablet) {
      font-size: 36px;
    }
  }
}
